.img--frame, .img--avatar, .img--logo {
  display: block;
}

.headline--secondary, .headline--primary {
  margin: 0.75em;
  text-align: left;
}

.nav__item {
  margin: 0.375em auto;
}
.nav__item a {
  text-decoration: none;
  width: 100%;
  padding: 0.75em;
  display: block;
}
.nav__item a:hover {
  background-color: #57DBB7;
  color: white;
  border-radius: 0.5em;
}
@media (min-width: 769px) {
  .nav__item {
    display: inline-block;
    align-items: center;
  }
}

.grid__row {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 1.5em 0;
}

* {
  font-family: "Krub", sans-serif;
  color: #959596;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

p {
  margin: 0 0.75em;
  text-align: left;
}

.form > .btn--default {
  display: block;
  border: 0;
  padding: 0.75em;
  margin: 2.25em auto;
  background-color: #73DCEF;
  color: white;
  border-radius: 0.5em;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
}
@media (min-width: 769px) {
  .form > .btn--default {
    display: inline-block;
    border: 0;
    padding: 0.75em;
    margin: 2.25em 0em;
    background-color: #73DCEF;
    color: white;
    border-radius: 0.5em;
    width: 100%;
    font-size: 1em;
    font-weight: bold;
  }
}

.grid__col--12 > .btn--default {
  display: block;
  border: 0;
  padding: 0.75em;
  margin: 2.25em auto;
  background-color: #68D9F1;
  color: white;
  border-radius: 0.5em;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
}
@media (min-width: 769px) {
  .grid__col--12 > .btn--default {
    display: inline-block;
    border: 0;
    padding: 0.75em;
    margin: 2.25em 0.375em;
    background-color: #68D9F1;
    color: white;
    border-radius: 0.5em;
    width: 17%;
    font-size: 1em;
    font-weight: bold;
  }
}

.grid__col--12 > .btn--success {
  display: block;
  border: 0;
  padding: 0.75em;
  margin: 2.25em auto;
  background-color: #5DC57A;
  color: white;
  border-radius: 0.5em;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
}
@media (min-width: 769px) {
  .grid__col--12 > .btn--success {
    display: inline-block;
    border: 0;
    padding: 0.75em;
    margin: 2.25em 0.375em;
    background-color: #5DC57A;
    color: white;
    border-radius: 0.5em;
    width: 17%;
    font-size: 1em;
    font-weight: bold;
  }
}

.grid__col--12 > .btn--error {
  display: block;
  border: 0;
  padding: 0.75em;
  margin: 2.25em auto;
  background-color: #DD8B8B;
  color: white;
  border-radius: 0.5em;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
}
@media (min-width: 769px) {
  .grid__col--12 > .btn--error {
    display: inline-block;
    border: 0;
    padding: 0.75em;
    margin: 2.25em 0.375em;
    background-color: #DD8B8B;
    color: white;
    border-radius: 0.5em;
    width: 17%;
    font-size: 1em;
    font-weight: bold;
  }
}

.grid__col--12 > .btn--warning {
  display: block;
  border: 0;
  padding: 0.75em;
  margin: 2.25em auto;
  background-color: #ED8257;
  color: white;
  border-radius: 0.5em;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
}
@media (min-width: 769px) {
  .grid__col--12 > .btn--warning {
    display: inline-block;
    border: 0;
    padding: 0.75em;
    margin: 2.25em 0.375em;
    background-color: #ED8257;
    color: white;
    border-radius: 0.5em;
    width: 17%;
    font-size: 1em;
    font-weight: bold;
  }
}

.grid__col--12 > .btn--info {
  display: block;
  border: 0;
  padding: 0.75em;
  margin: 2.25em auto;
  background-color: #856EA2;
  color: white;
  border-radius: 0.5em;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
}
@media (min-width: 769px) {
  .grid__col--12 > .btn--info {
    display: inline-block;
    border: 0;
    padding: 0.75em;
    margin: 2.25em 0.375em;
    background-color: #856EA2;
    color: white;
    border-radius: 0.5em;
    width: 17%;
    font-size: 1em;
    font-weight: bold;
  }
}

.container {
  margin: 0 1.5em;
}
@media (min-width: 769px) {
  .container {
    margin: 0 3em;
  }
}

@media (min-width: 769px) {
  .grid__row {
    flex-direction: row;
    align-items: flex-start;
  }
}

.grid__col--3 {
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
  background-color: none;
  color: #959596;
  border-radius: 0.5em;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
}

.grid__col--9 {
  width: 100%;
  margin: auto;
}

@media (min-width: 769px) {
  .grid__col--12 {
    text-align: center;
  }
}
.grid__col--4 {
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
  background-color: none;
  color: #959596;
  border-radius: 0.5em;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
}

.grid__col--9 {
  width: 100%;
  margin: auto;
}

@media (min-width: 769px) {
  .grid__col--12 {
    text-align: center;
  }
}
.grid__col--5 {
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
  background-color: none;
  color: #959596;
  border-radius: 0.5em;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
}

.grid__col--9 {
  width: 100%;
  margin: auto;
}

@media (min-width: 769px) {
  .grid__col--12 {
    text-align: center;
  }
}
.grid__col--6 {
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
  background-color: none;
  color: #959596;
  border-radius: 0.5em;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
}

.grid__col--9 {
  width: 100%;
  margin: auto;
}

@media (min-width: 769px) {
  .grid__col--12 {
    text-align: center;
  }
}
.grid__col--7 {
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
  background-color: none;
  color: #959596;
  border-radius: 0.5em;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
}

.grid__col--9 {
  width: 100%;
  margin: auto;
}

@media (min-width: 769px) {
  .grid__col--12 {
    text-align: center;
  }
}
.grid__col--8 {
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
  background-color: none;
  color: #959596;
  border-radius: 0.5em;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
}

.grid__col--9 {
  width: 100%;
  margin: auto;
}

@media (min-width: 769px) {
  .grid__col--12 {
    text-align: center;
  }
}
.grid__col--12 {
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
  background-color: none;
  color: #959596;
  border-radius: 0.5em;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
}

.grid__col--9 {
  width: 100%;
  margin: auto;
}

@media (min-width: 769px) {
  .grid__col--12 {
    text-align: center;
  }
}
.grid__col--3.theme__colors {
  display: block;
  border: 0;
  padding: 0.75em;
  margin: 0.125em auto;
  background-color: #E3BCF1;
  color: #959596;
  border-radius: 0.5em;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  margin: 0.125em auto;
  width: 100%;
}
@media (min-width: 769px) {
  .grid__col--3.theme__colors {
    margin: 0.25em;
    text-align: center;
  }
}

.grid__col--4.theme__colors {
  display: block;
  border: 0;
  padding: 0.75em;
  margin: 0.125em auto;
  background-color: #7DDFF4;
  color: #959596;
  border-radius: 0.5em;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  margin: 0.125em auto;
  width: 100%;
}
@media (min-width: 769px) {
  .grid__col--4.theme__colors {
    margin: 0.25em;
    text-align: center;
  }
}

.grid__col--5.theme__colors {
  display: block;
  border: 0;
  padding: 0.75em;
  margin: 0.125em auto;
  background-color: #A7D5B0;
  color: #959596;
  border-radius: 0.5em;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  margin: 0.125em auto;
  width: 100%;
}
@media (min-width: 769px) {
  .grid__col--5.theme__colors {
    margin: 0.25em;
    text-align: center;
  }
}

.grid__col--6.theme__colors {
  display: block;
  border: 0;
  padding: 0.75em;
  margin: 0.125em auto;
  background-color: #56AEC9;
  color: #959596;
  border-radius: 0.5em;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  margin: 0.125em auto;
  width: 100%;
}
@media (min-width: 769px) {
  .grid__col--6.theme__colors {
    margin: 0.25em;
    text-align: center;
  }
}

.grid__col--7.theme__colors {
  display: block;
  border: 0;
  padding: 0.75em;
  margin: 0.125em auto;
  background-color: #D8AA9D;
  color: #959596;
  border-radius: 0.5em;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  margin: 0.125em auto;
  width: 100%;
}
@media (min-width: 769px) {
  .grid__col--7.theme__colors {
    margin: 0.25em;
    text-align: center;
  }
}

.grid__col--8.theme__colors {
  display: block;
  border: 0;
  padding: 0.75em;
  margin: 0.125em auto;
  background-color: #E3A78C;
  color: #959596;
  border-radius: 0.5em;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  margin: 0.125em auto;
  width: 100%;
}
@media (min-width: 769px) {
  .grid__col--8.theme__colors {
    margin: 0.25em;
    text-align: center;
  }
}

.grid__col--12.theme__colors {
  display: block;
  border: 0;
  padding: 0.75em;
  margin: 0.125em auto;
  background-color: #56bbaa;
  color: #959596;
  border-radius: 0.5em;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  margin: 0.125em auto;
  width: 100%;
}
@media (min-width: 769px) {
  .grid__col--12.theme__colors {
    margin: 0.25em;
    text-align: center;
  }
}

.form__label--hidden {
  display: none;
}

.form__input {
  display: block;
  border: 0;
  padding: 1.5em 0.75em;
  margin: 0.75em auto;
  font-weight: bold;
  width: 95%;
  border-bottom: 0.375em solid #57DBB7;
  border-radius: 0.0625em;
}

.img--logo {
  margin: 0.75em auto;
}
@media (min-width: 769px) {
  .img--logo {
    margin: 0.75em 0.75em;
  }
}

.img--avatar {
  margin: 0 auto;
  padding: 1.5em;
}

.img--frame {
  border: solid 0.125em #e2e2e2;
  padding: 0.75em;
  margin: 1.5em auto;
}

.headline--primary {
  color: #57DBB7;
}

.link {
  color: #73DCEF;
  text-decoration: none;
  font-weight: bold;
}

.blockquote {
  border-left: solid 0.3125em #57DBB7;
  border-radius: 0.375em;
  padding: 0 0.5em;
  font-style: italic;
  font-size: 1.5em;
}

/*# sourceMappingURL=styles.css.map */
