// Buttons

@mixin btn-mobile(
    $display: block,
    $border: 0,
    $padding: em(12),
    $margin: em(36) auto,
    $background-color,
    $color: white,
    $border-radius: em(8),
    $width: 100%,
    $font-size: em(16),
    $font-weight: bold){
        display: $display;
        border: $border;
        padding: $padding;
        margin: $margin;
        background-color: $background-color;
        color: $color;
        border-radius: $border-radius;
        width: $width;
        font-size: $font-size;
        font-weight: $font-weight;
}

@mixin buttons {
    @each $type, $color in $btn-colors {
        .grid__col--12 > .btn--#{$type} {
            @include btn-mobile($background-color: $color);
                @include mq($large) {
                    @include btn-mobile($display: inline-block,
                                        $margin: em(36) em(6), 
                                        $background-color: $color,
                                        $width: 17%);
            }    
        }
    }
}

// Media Queries

@mixin mq($large) {
    @media (min-width: $large){
        @content;
    }
}

// Flexbox settings

// General Grid Layout

@mixin grid__col {
    @each $number, $color in $grid-colors {
        .grid__col--#{$number} {
            @include btn-mobile($margin: 0,
                                $padding: 0,
                                $background-color: none,
                                $color: $color-text,
                                );
        }
        .grid__col--9 {
            width: 100%;
            margin: auto;
        }
        @include mq($large) {
            .grid__col--12 {
                text-align: center;
            }
        }
    }
}

// Colored Grid System

@mixin grid__system {
    @each $number, $color in $grid-colors {
        .grid__col--#{$number}.theme__colors {
            @include btn-mobile($margin: em(2) auto,
                                $background-color: $color,
                                $color: $color-text);
            margin: em(2) auto;
            width: 100%;
            @include mq($large) {
                    margin: em(4);
                    text-align: center;
                
            }
        }
    }

}







