// Fonts

$font-family: 'Krub', sans-serif;


// Colors

$color-background: white;

$color-primary: #57DBB7;
$color-secondary: #73DCEF;
// $color-default: #68D9F1;
// $color-success: #5DC57A;
// $color-error: #DD8B8B;
// $color-warning: #ED8257;
// $color-info: #856EA2;
$color-text: rgb(149, 149, 150);
$color-border: #e2e2e2;

$btn-colors: (
    default: #68D9F1,
    success: #5DC57A,
    error  : #DD8B8B,
    warning: #ED8257,
    info   : #856EA2
);

$grid-colors: (
    3: #E3BCF1,
    4: #7DDFF4,
    5: #A7D5B0,
    6: #56AEC9,
    7: #D8AA9D,
    8: #E3A78C,
    12: #56bbaa
);


// Grid Variables

$grid-columns: 12;


// Breakpoints

$large: 769px;