
.container {
    margin: 0 em(24);
        @include mq($large) {
        margin: 0 em(48);
    }
}

.grid__row{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: em(24) 0;
    @include mq($large) {
        flex-direction: row;
        align-items: stretch;
    }
}


@include grid__col;

@include grid__system;


