
.container {
    margin: 0 em(24);
        @include mq($large) {
            margin: 0 em(48);
    }
}

.grid__row{
    @extend %flexbox;
    @include mq($large) {
        flex-direction: row;
        align-items: flex-start;
    }
}


@include grid__col;

@include grid__system;


