
.headline--primary{
    color: $color-primary;
    @extend %align-left;
}

.headline--secondary{
    @extend %align-left;
}

.link{
    color: $color-secondary;
    text-decoration: none;
    font-weight: bold;
}

.blockquote{
    border-left: solid em(5) $color-primary;
    border-radius: em(6);
    padding: 0 em(8);
    font-style: italic;
    font-size: em(24);
}