// Universal (*) selector

* {
    font-family: $font-family;
    color: $color-text;
    box-sizing: border-box;
}


// ul elements

ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}


//  p elements

p {
    margin: 0 em(12);
    text-align: left;
}